body{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.container{
    flex:1;
}

*{
    font-family: "Plus Jakarta Sans";
}

.navbar{
    height:5rem;
    background-color: #fff;
}
.fa-compass{
    color:red;
    font-size:2rem;
}
.nav-link{
    color : #222222 !important;
    /* important keyword override the all styling */
}
.f-info-links a{
    text-decoration: none;
    color:#222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-brand,.f-info-socials {
    width:100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info{
    text-align: center;
    height:8rem;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}
.f-info-socials i{
    font-size: 1.3rem;
    margin-right:20px;
    color:rgb(0, 0, 0)
}
/* cards of sheet */
.listing-card{
    border:none !important;
    margin-bottom:2rem ;
}
.card-img-top{
    border-radius:1rem !important;
    width:100% !important;
}
.card-body{
    padding: 0 !important;

}
.card-text{
    font-weight: 400;
    
}
.listing-link{
    text-decoration: none;
}
/* card effect */
.card-img-overlay{
  opacity:0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #fff;
}
.add-btn{
    background-color:red !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
    background-color:red !important;
    border: none !important;
}
/* show image */
.show-img{
    height: 30vh;
}
.btns{
   display: flex; 
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}